@font-face {
  font-family: "Lobster";
  src: url(/fonts/Lobster-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(/fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Lobster";
  color: #c22d22;
  font-weight: bold;
}
h2 {
  font-family: "OpenSans-Light";
  font-size: 1.75em;
  font-weight: 300;
  color: black;
}
h4 {
  font-family: "OpenSans-Bold";
  font-size: 1.2em;
  font-weight: 700;
  color: black;
}
p {
  font-family: "OpenSans-Regular";
  font-size: 1em;
  font-weight: 400;
  color: black;
}
