* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    background-color: #FFBD59;
    
    
}

#nav a{
    color: black;
    font-size: bold;
    

}
#nav a:hover{
    color: #f4f1e8;

}


/* Changes the toggle button default colors */
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    
}
.navbar-light .navbar-toggler {
    border: 1px solid black;
}
