* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../img/muffin.png");
  background-repeat: repeat;
}

main {
  padding-top: 5em;
}

/* Navbar */
#nav {
  background-color: #ffbd59;
}

#nav a {
  color: black;
  font-size: bold;
}
#nav a:hover {
  color: #f4f1e8;
}

/* Changes the toggle button default colors */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border: 1px solid black;
}

/* Carousel section */

/* Changes the carousel control icons color */
.carousel-indicators .active {
  background-color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* Removing gutter (padding space of the columns */
.row {
  padding: 0;
  margin-bottom: 1rem;
}
.col-sm-12 {
  padding: 0;
}

.intro-text p {
  font-size: 2em;
  text-align: center;
}

/* End of top section page 1 */

div[class^="col"] {
  margin-bottom: 1.2rem;
}

.table {
  --bs-table-hover-bg: #f4f1e8;
  --bs-table-striped-bg: #ffbd59;
  --bs-table-accent-bg: white;
  cursor: pointer;
}

.step {
  border: #ffbd59 1px solid;
  border-collapse: separate;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: white;
}
.some-margin {
  padding: 1rem;
}
.card:hover {
  outline: 3px solid #ffbd59;
}
.carousel-inner img {
  width: auto;
  object-fit: cover;
  height: 30em;
}
.input-group-text {
  background-color: #ffbd59;
  border: 1px solid #ffbd59;
}
.form-control{
  border: 2px solid #ffbd59;
}
.footerBg{
  background-color: rgba(3, 3, 59, 0.811);
  padding-top: 1rem;
  margin-top: 4rem;
}
.fa-brands{
  margin: 0.25rem;
}